@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Static/layui/lib/extend/echartsTheme.js"></script>
    <script src="~/Static/layui/lib/extend/echarts.js"></script>
    <title></title>
</head>
<body>
    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
    <div id="main" style="width: 1200px;height: 600px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: { text: '批量区间计算' },
            xAxis: {},
            yAxis: {},
            legend: {
                data: ['销量'],
                data: ['111']
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                },
            },
            toolbox: {
                show: true,
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    dataView: { readOnly: false },
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [{
                name: '销量',
                data: [[20, 120], [50, 200], [40, 50]],
                type: 'line'
            },
                {
                    name: '',
                    data: [[20, 120], [50, 200], [120, 50]],
                    type: 'line'
                },
                {
                    name: '',
                    data: [[20, 120], [50, 200], [140, 50]],
                    type: 'line'
                }
                ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>
