@if (Session["Admin"] == null)
{
    <meta http-equiv="refresh" content="0.0;url=../AdminHome/Login" />
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理员用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/static/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/static/layui/style/admin.css" rel="stylesheet" />
</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="admin_search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <table id="admin_list" lay-filter="admin_list"></table>

                <script type="text/html" id="button_state">
                    {{#  if(d.state == "启用"){ }}
                    <button class="layui-btn layui-btn-xs">启用</button>
                    {{#  } else { }}
                    <button class="layui-btn layui-btn-primary layui-btn-xs">禁用</button>
                    {{#  } }}
                </script>

                <script type="text/html" id="table-useradmin-webuser">
                    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail"><i class="layui-icon layui-icon-read"></i>详情</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    {{#  if(d.id == "1"){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    {{#  } else { }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    {{#  } }}
                    <a class="layui-btn layui-btn-cyan layui-btn-xs" lay-event="reset"><i class="layui-icon layui-icon-refresh-1"></i>重置密码</a>
                </script>
            </div>
        </div>
    </div>

    <script src="~/static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'admin_table', 'table'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;

            //监听搜索
            form.on('submit(admin_search)', function (data) {
                var field = data.field;
                var name =field.name;
                //执行重载
                table.reload('admin_list', {
                    url: "@Url.Action("Admin_query","Admin")"
                    , method: "post"
                    , where: {"name": name}
                    , contentType: 'application/json'
                    , parseData: function (res) { //res 即为原始返回的数据
                        if (this.page.curr) {
                            var result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                        } else {
                            var result = res.data.slice(0, this.limit);
                        }
                        return {
                            "code": res.code,
                            "msg": "",
                            "count": res.data.length,
                            "data": result
                        };
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            });

            //事件
            var active = {
                add: function () {
                    layer.open({
                        type: 2
                        , title: '添加管理员'
                        , content: '@Url.Action("AdminAddForm","Admin")'
                        , area: ['500px', '600px']
                        , btn: ['确定', '取消']
                        , yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index]
                                , submitID = 'LAY-user-front-submit'
                                , submit = layero.find('iframe').contents().find('#' + submitID);

                            //监听提交
                            iframeWindow.layui.form.on('submit(' + submitID + ')', function (data) {
                                var field = data.field; //获取提交的字段
                                if (field.state == 'on') {
                                    field.state = '启用';
                                } else {
                                    field.state = '禁用';
                                }
                                var admin = JSON.stringify(field);
                                //提交 Ajax 成功后，静态更新表格中的数据
                                $.ajax({
                                    type: "post",
                                    url: '@Url.Action("Admin_add","Admin")',
                                    datatype: "json",
                                    contenttype: "application/json; charset=utf-8",
                                    data: admin,
                                    async: false,
                                    success: function (data) {
                                        if (data) {
                                            layer.msg('添加成功', {
                                                icon: 1,
                                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                            });
                                        } else {
                                            layer.msg('添加失败', {
                                                icon: 2,
                                                shift: -1,  //震动效果
                                                time: 1000  //1秒关闭
                                            });
                                        }
                                    }
                                });
                                table.reload('admin_list');//数据刷新
                                layer.close(index); //关闭弹层
                            });
                            submit.trigger('click');
                        }
                    });
                }
            };

            $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>
