@model WsSensitivity.Models.UpDown.UpDownExperiment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加实验数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/static/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/static/layui/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-card" style="margin:0px;">

        <div class="layui-row">
            <div class="layui-card-body">
                <div class="layui-form layui-form-pane" lay-filter="testdata-form" id="testdata-form">
                    <div class="layui-form-item layui-form-text">
                        <div class="layui-input-block">
                            <textarea name="jstj" id="jstd" placeholder="请输入内容" class="layui-textarea" style="height:150px;">@Model.udt_Technicalconditions</textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-hide">
                        <input type="button" lay-submit lay-filter="testdata-submit" id="testdata-submit" value="确认">
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script src="~/Static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , form = layui.form;

        });
    </script>
</body>
</html>
