@model WsSensitivity.Models.UpDownExperiment
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>升降法分析参数设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Static/layui/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-form layui-form-pane" lay-filter="altersetting-form" id="altersetting-form" style="padding: 20px 0 0 0;">
        <div class="layui-fluid">

            <div class="layui-form-item">
                <div class="layui-col-md5">
                    <fieldset class="layui-elem-field">
                        <label class="layui-form-label">正态分布:</label>
                        <div class="layui-input-block">
                            @if (Model.udt_Distribution == 0)
                            {
                                <input type="radio" name="udt_Distribution" id="udt_Distribution" value="0" title="传统法" checked>
                            }
                            else {
                            <input type="radio" name="udt_Distribution" id="udt_Distribution" value="0" title="传统法">
                            }
                            @if (Model.udt_Distribution == 1)
                            {
                                <input type="radio" name="udt_Distribution" id="udt_Distribution" value="1" title="修正法" checked>
                            }
                            else {
                            <input type="radio" name="udt_Distribution" id="udt_Distribution" value="1" title="修正法">
                            }
                            @if (Model.udt_Distribution == 2)
                            {
                                <input type="radio" name="udt_Distribution" id="udt_Distribution" value="2" title="结合法" checked>
                            }
                            else {
                            <input type="radio" name="udt_Distribution" id="udt_Distribution" value="2" title="结合法">
                            }

                        </div>
                    </fieldset>
                </div>
                <div class="layui-col-md2">
                    @if (Model.udt_Distribution == 3)
                    {
                        <input type="radio" name="udt_Distribution" id="ljsdfb" value="3" title="逻辑斯谛分布" checked>
                    }
                    else {
                    <input type="radio" name="udt_Distribution" id="ljsdfb" value="3" title="逻辑斯谛分布">
                    }
                </div>
            </div>

            <div class="layui-form-item layui-hide">
                <button class="layui-btn" lay-submit lay-filter="altersetting_submit" id="altersetting_submit">提交</button>
            </div>

        </div>
    </div>

    <script src="~/Static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form'], function () {
            var $ = layui.$
                , form = layui.form;
        })
    </script>
</body>
</html>
