<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>区间估计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/static/layui/layui/css/layui.css" rel="stylesheet" />
    @{
        string res = (string)ViewData["res"];
        int udg_id = (int)ViewData["udg_id"];
        int ExperimentalId = (int)ViewData["ExperimentalId"];
        double avg = (double)ViewData["avg"];
        double sigma = (double)ViewData["sigma"];
        double sigmaavg = (double)ViewData["sigmaavg"];
        double sigmasigma = (double)ViewData["sigmasigma"];
        int text = (int)ViewData["text"];
    }
</head>
<body>
    <div class="layui-form layui-form-pane" lay-filter="lntervalestimation-form" id="lntervalestimation-form">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body">
                    @if (res.Equals("S"))
                    {
                        <fieldset class="layui-elem-field">
                            <legend>拟然比区间估计方法</legend>
                            <div class="layui-field-box">
                                <div class="layui-row layui-col-space15">
                                    <div class="layui-col-md12 layui-col-space10">
                                        <div class="layui-col-md12 layui-col-space5">
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">响应概率</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Srb_ProbabilityResponse" id="Srb_ProbabilityResponse" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">置信水平</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Srb_ConfidencelevelP" id="Srb_ConfidencelevelP" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <button type="button" class="layui-btn" style="width:100%;" data-type="IntervalEstimationResponseProbability">响应概率区间估计</button>
                                            </div>
                                        </div>

                                        <div class="layui-col-md12 layui-col-space5">
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">刺激量</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Srb_StimulusQuantity" id="Srb_StimulusQuantity" value="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">置信水平</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Srb_ConfidencelevelS" id="Srb_ConfidencelevelS" value="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <button type="button" class="layui-btn" style="width:100%;" data-type="ResponsePointIntervalEstimation">响应点区间估计</button>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="layui-col-md12 layui-col-space5">
                                        <fieldset class="layui-elem-field">
                                            <legend>双侧置信区间</legend>
                                            <div class="layui-field-box">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12 layui-col-space5">
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="Points" id="Points" placeholder="响应点置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="Intervals" id="Intervals" placeholder="均值置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="StandardIntervals" id="StandardIntervals" placeholder="标准差置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                    <div class="layui-col-md12 layui-col-space10">
                                        <fieldset class="layui-elem-field">
                                            <legend>单侧置信区间</legend>
                                            <div class="layui-field-box">
                                                <div class="layui-row">
                                                    <div class="layui-col-md12 layui-col-space5">
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="Point" id="Point" placeholder="响应点置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="Interval" id="Interval" placeholder="均值置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                        <div class="layui-col-md4">
                                                            <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                            <div class="layui-input-block">
                                                                <input type="text" name="StandardInterval" id="StandardInterval" placeholder="标准差置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    }
                    <fieldset class="layui-elem-field">
                        <legend>方差函数法区间计算方法</legend>
                        <div class="layui-field-box">
                            <div class="layui-form layui-row">
                                <div class="layui-col-md12 layui-col-space5">
                                    <div class="layui-col-md12 layui-col-space10">
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">响应概率</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Fchs_ProbabilityResponse" id="Fchs_ProbabilityResponse" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        <div class=" layui-col-md4">
                                            <label class="layui-form-label">置信水平</label>
                                            <div class="layui-input-block">
                                                <select name="xygl_zxsp" id="xygl_zxsp" lay-verify="required">
                                                    <option value="0.8">0.8</option>
                                                    <option value="0.85">0.85</option>
                                                    <option value="0.9">0.9</option>
                                                    <option value="0.95">0.95</option>
                                                    <option value="0.99">0.99</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="Fchs_IntervalEstimationResponseProbability">响应概率区间估计</button>
                                        </div>
                                    </div>

                                    <div class="layui-col-md12 layui-col-space5">
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">刺激量</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Fchs_StimulusQuantity" id="Fchs_StimulusQuantity" value="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">置信水平</label>
                                            <div class="layui-input-block">
                                                <select name="cjl_zxsp" id="cjl_zxsp" lay-verify="required">
                                                    <option value="0.8">0.8</option>
                                                    <option value="0.85">0.85</option>
                                                    <option value="0.9">0.9</option>
                                                    <option value="0.95">0.95</option>
                                                    <option value="0.99">0.99</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="Fchs_ResponsePointIntervalEstimation">响应点区间估计</button>
                                        </div>
                                    </div>

                                    <div class="layui-col-md12 layui-col-space5">
                                        <div class="layui-col-md3">
                                            <label class="layui-form-label">响应点双侧置信区间</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="PointsIncredibleInterval" id="PointsIncredibleInterval" lay-tips="响应点双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <label class="layui-form-label">均值双侧置信区间</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="AvgPointsInterval" id="AvgPointsInterval" lay-tips="均值双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <label class="layui-form-label">响应点单侧置信区间</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="PointIncredibleInterval" id="PointIncredibleInterval" lay-tips="响应点单侧置信区间" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                        <div class="layui-col-md3">
                                            <label class="layui-form-label">标准差双侧置信区间</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="StandarddeviationInterval" id="StandarddeviationInterval" lay-tips="标准差双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field">
                        <legend>置信区间绘图</legend>
                        <div class="layui-field-box">
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-col-space5">
                                    <div class="layui-col-md4 layui-col-space5">
                                        <label class="layui-form-label">置信水平</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="BatchConfidenceLevel3" id="BatchConfidenceLevel3" value="0.95" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                        </div>
                                        <label class="layui-form-label">Y轴最小值</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="yMin" id="yMin" value="0.000001" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                        </div>
                                        <label class="layui-form-label">Y轴最大值</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="yMax" id="yMax" value="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                        </div>
                                        <label class="layui-form-label" style="width:auto">Y轴分隔份数</label>
                                        <div class="layui-input-block">
                                            <input type="text" name="Y_Axis" id="Y_Axis" value="50" autocomplete="off" class="layui-input" style="width:99%" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                        </div>
                                    </div>

                                    <div class="layui-col-md5 layui-col-space10">
                                        <div class="layui-col-md12 layui-col-space5">
                                            @if (res.Equals("S"))
                                            {
                                                <button type="button" class="layui-btn" style="width:100%;" data-type="Likelihood">似然比法区间计算绘图</button>
                                            }
                                        </div>
                                        <div class="layui-col-md12 layui-col-space5">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="Variancefunction">方差函数法区间计算绘图</button>
                                        </div>
                                    </div>
                                    <div class="layui-col-md3 layui-col-space5">
                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="0" title="单侧置信区域">
                                        <input type="radio" name="intervalTypeSelection3" id="intervalTypeSelection3" value="1" title="双侧置信区域" checked>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <script src="~/static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table', 'form','element'], function () {
            var $ = layui.$
                , form = layui.form
                , element = layui.element
                , table = layui.table;
            form.render();
            //事件
            var active = {
                IntervalEstimationResponseProbability: function () {
                    var Srb_ProbabilityResponse = parseFloat(document.getElementById("Srb_ProbabilityResponse").value);
                    var Srb_Confidencelevel = parseFloat(document.getElementById("Srb_ConfidencelevelP").value);
                    var is = true;
                    if (Srb_ProbabilityResponse.toString() == "NaN") {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#Srb_ProbabilityResponse']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((Srb_ProbabilityResponse > 1.0) || (Srb_ProbabilityResponse <= 0) & is) {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率取值范围(0,1]', '#Srb_ProbabilityResponse']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((Srb_Confidencelevel.toString() == "NaN") & is) {
                        is = false;
                        layer.open({
                             type: 4
                            , content: ['置信水平不能为空', '#Srb_ConfidencelevelP']
                            , tips: [1, '#ff2121']
                            , time:3000
                        });
                    }
                    if ((Srb_Confidencelevel > 1.0) || (Srb_Confidencelevel <= 0) & is) {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平取值范围(0,1]', '#Srb_ConfidencelevelP']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (is)
                    {
                        $.ajax({
                            type: "post"
                            , url: '../UpDownMethod/IntervalEstimationResponseProbability'
                            , data: {
                                "ExperimentalId":@ExperimentalId,
                                "udg_id":@udg_id,
                                "Srb_ProbabilityResponse": Srb_ProbabilityResponse,
                                "Srb_Confidencelevel": Srb_Confidencelevel,
                                "favg":@avg,
                                "fsigma":@sigma,
                            }
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                document.getElementById("Point").value = data[0];
                                document.getElementById("Interval").value = data[1];
                                document.getElementById("StandardInterval").value = data[2];
                                document.getElementById("Points").value = data[3];
                                document.getElementById("Intervals").value = data[4];
                                document.getElementById("StandardIntervals").value = data[5];
                            }
                        });
                    }
                },
                ResponsePointIntervalEstimation: function () {
                    var Srb_StimulusQuantity = parseFloat(document.getElementById("Srb_StimulusQuantity").value);
                    var Srb_ConfidencelevelS = parseFloat(document.getElementById("Srb_ConfidencelevelS").value);
                    var Srb_ProbabilityResponse = parseFloat(document.getElementById("Srb_ProbabilityResponse").value);
                    var is = true;
                    if ((Srb_StimulusQuantity.toString() == "NaN") & is) {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['刺激量不能为空', '#Srb_StimulusQuantity']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }

                    if ((Srb_ConfidencelevelS.toString() == "NaN") & is) {
                        is = false;
                        layer.open({
                             type: 4
                            , content: ['置信水平不能为空', '#Srb_ConfidencelevelS']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if ((Srb_ConfidencelevelS > 1.0) || (Srb_ConfidencelevelS <= 0) & is) {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平取值范围(0,1]', '#Srb_ConfidencelevelS']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (is) {
                        $.ajax({
                            type: "post"
                            , url: '../UpDownMethod/ResponsePointIntervalEstimation'
                            , data: {
                                "ExperimentalId":@ExperimentalId,
                                "udg_id":@udg_id,
                                "Srb_ProbabilityResponse": Srb_ProbabilityResponse,
                                "Srb_Confidencelevel": Srb_ConfidencelevelS,
                                "fq": Srb_StimulusQuantity,
                                "favg":@avg,
                                "fsigma":@sigma,
                            }
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                document.getElementById("Point").value = data[0];
                                document.getElementById("Interval").value = data[1];
                                document.getElementById("StandardInterval").value = data[2];
                                document.getElementById("Points").value = data[3];
                                document.getElementById("Intervals").value = data[4];
                                document.getElementById("StandardIntervals").value = data[5];
                            }
                        });
                    }
                },
                Fchs_IntervalEstimationResponseProbability: function () {
                    var Fchs_ProbabilityResponse = parseFloat(document.getElementById("Fchs_ProbabilityResponse").value);
                    var xygl_zxsp = parseFloat(document.getElementById("xygl_zxsp").value);
                    var is = true;
                    if (Fchs_ProbabilityResponse.toString() == "NaN") {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#Fchs_ProbabilityResponse']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (Fchs_ProbabilityResponse > 1.0 || Fchs_ProbabilityResponse <= 0) {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率取值范围(0,1]', '#Fchs_ProbabilityResponse']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (is) {
                        $.ajax({
                            type: "post"
                            , url: '../UpDownMethod/Fchs_IntervalEstimationResponseProbability'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , data: {
                                "ExperimentalId":@ExperimentalId,
                                "Fchs_ProbabilityResponse": Fchs_ProbabilityResponse,
                                "xygl_zxsp": xygl_zxsp,
                                "textNumber": @text,
                                "favg": @avg,
                                "fsigma":@sigma,
                                "fsigmaavg": @sigmaavg,
                                "fsigmasigma": @sigmasigma,
                            }
                            , success: function (data) {
                                document.getElementById("PointsIncredibleInterval").value = data[0];
                                document.getElementById("AvgPointsInterval").value = data[2];
                                document.getElementById("PointIncredibleInterval").value = data[1];
                                document.getElementById("StandarddeviationInterval").value = data[3];
                            }
                        });
                    }
                },
                Fchs_ResponsePointIntervalEstimation: function () {
                    var Fchs_StimulusQuantity = parseFloat(document.getElementById("Fchs_StimulusQuantity").value);
                    var cjl_zxsp = parseFloat(document.getElementById("cjl_zxsp").value);
                    var is = true;
                    if (Fchs_StimulusQuantity.toString() == "NaN") {
                        is = false;
                        layer.open({
                            type: 4
                            , content: ['响应概率不能为空', '#Fchs_StimulusQuantity']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (is) {
                        $.ajax({
                            type: "post"
                            , url: '../UpDownMethod/Fchs_ResponsePointIntervalEstimation'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , data: {
                                "ExperimentalId":@ExperimentalId,
                                "Fchs_StimulusQuantity": Fchs_StimulusQuantity,
                                "cjl_zxsp": cjl_zxsp,
                                 "textNumber": @text,
                                "favg": @avg,
                                "fsigma":@sigma,
                                "fsigmaavg": @sigmaavg,
                                "fsigmasigma": @sigmasigma,
                            }
                            , success: function (data) {
                                document.getElementById("PointsIncredibleInterval").value = data[0];
                                document.getElementById("AvgPointsInterval").value = data[2];
                                document.getElementById("PointIncredibleInterval").value = data[1];
                                document.getElementById("StandarddeviationInterval").value = data[3];
                            }
                        });
                    }
                },
                Likelihood: function () {
                     var isConfi = true;
                    var intervalTypeSelection = 1;
                    var BatchConfidenceLevel = parseFloat(document.getElementById("BatchConfidenceLevel3").value);
                    var yMin = parseFloat(document.getElementById("yMin").value);
                    var yMax = parseFloat(document.getElementById("yMax").value);
                    var Y_Axis = parseFloat(document.getElementById("Y_Axis").value);
                    var check = document.getElementsByName("intervalTypeSelection3");
                    for (var i = 0; i < check.length; i++) {
                        if (check[i].checked) {
                            intervalTypeSelection = check[i].value;
                        }
                    }
                    if (BatchConfidenceLevel.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平不能为空', '#BatchConfidenceLevel3']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (BatchConfidenceLevel <= 0 || BatchConfidenceLevel > 1) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin > yMax) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: 'Y轴最小值不能大于Y轴最大值'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最小值不能为空', '#yMin']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (yMax.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最大值不能为空', '#yMax']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (Y_Axis.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴分隔份数不能为空', '#Y_Axis']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    var load;
                    if (isConfi) {
                        load = layer.load();
                        $.ajax({
                            type: "post"
                            , data: {
                                "BatchConfidenceLevel": BatchConfidenceLevel
                                , "yMin": yMin
                                , "yMax": yMax
                                , "Y_Axis": Y_Axis
                                , "intervalTypeSelection": intervalTypeSelection
                                , "favg": @avg
                                , "fsigma": @sigma
                                , "ExperimentalId":@ExperimentalId
                                ,"udg_id":@udg_id,
                            },
                            url: '@Url.Action("Likelihood", "UpDownMethod")'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                layer.close(load);
                                var index = layer.open({
                                    type: 2
                                    , area: ['70%', '80%']
                                    , id: 'LAY_layuipro1' //设定一个id，防止重复弹出
                                    , content: ['../LineChart/LineChart', 'no']
                                    , btnAlign: 'c'
                                    , anim: 1
                                    , closeBtn: 1

                                });
                            }
                        });
                    }
                },
                Variancefunction: function () {
                    var isConfi = true;
                    var intervalTypeSelection = 1;
                    var BatchConfidenceLevel = parseFloat(document.getElementById("BatchConfidenceLevel3").value);
                    var yMin = parseFloat(document.getElementById("yMin").value);
                    var yMax = parseFloat(document.getElementById("yMax").value);
                    var Y_Axis = parseFloat(document.getElementById("Y_Axis").value);
                    var check = document.getElementsByName("intervalTypeSelection3");
                    for (var i = 0; i < check.length; i++) {
                        if (check[i].checked) {
                            intervalTypeSelection = check[i].value;
                        }
                    }
                    if (BatchConfidenceLevel.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['置信水平不能为空', '#BatchConfidenceLevel3']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (BatchConfidenceLevel <= 0 || BatchConfidenceLevel > 1) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: '置信水平取值范围 (0,1]'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin > yMax) {
                        isConfi = false;
                        layer.open({
                            title: '错误提示'
                            , content: 'Y轴最小值不能大于Y轴最大值'
                            , time: 3000
                            , icon: 5
                        });
                    }
                    if (yMin.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最小值不能为空', '#yMin']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (yMax.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴最大值不能为空', '#yMax']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    if (Y_Axis.toString() == "NaN") {
                        isConfi = false;
                        layer.open({
                            type: 4
                            , content: ['Y轴分隔份数不能为空', '#Y_Axis']
                            , tips: [1, '#ff2121']
                            , time: 3000
                        });
                    }
                    var load;
                    if (isConfi) {
                        load = layer.load();
                        $.ajax({
                            type: "post"
                            , data: {
                                "BatchConfidenceLevel": BatchConfidenceLevel
                                , "yMin": yMin
                                , "yMax": yMax
                                , "Y_Axis": Y_Axis
                                , "intervalTypeSelection": intervalTypeSelection
                                , "favg": @avg
                                , "fsigma": @sigma
                                , "ExperimentalId":@ExperimentalId
                                , "textNumber":@text
                                , "fsigmaavg": @sigmaavg
                                ,"fsigmasigma":@sigmasigma,
                            },
                            url: '@Url.Action("Variancefunction", "UpDownMethod")'
                            , datatype: "json"
                            , contenttype: "application/json; charset=utf-8"
                            , async: false
                            , success: function (data) {
                                layer.close(load);
                                var index = layer.open({
                                    type: 2
                                    , area: ['70%', '80%']
                                    , id: 'LAY_layuipro1' //设定一个id，防止重复弹出
                                    , content: ['../LineChart/LineChart', 'no']
                                    , btnAlign: 'c'
                                    , anim: 1
                                    , closeBtn: 1

                                });
                            }
                        });
                    }
                },
            }
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>