<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>区间估计</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/static/layui/layui/css/layui.css" rel="stylesheet" />
    @{ 
        string res = (string)ViewData["res"];
    }
</head>
<body>
    <div class="layui-form layui-form-pane" lay-filter="lntervalestimation-form" id="lntervalestimation-form">
        <div class="layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <fieldset class="layui-elem-field">
                        <legend>拟然比区间估计方法</legend>
                        <div class="layui-field-box">
                            <div class="layui-row layui-col-space15">

                                <div class="layui-col-md12 layui-col-space10">
                                    <div class="layui-col-md12 layui-col-space5">
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">响应概率</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Srb_ProbabilityResponse" id="Srb_ProbabilityResponse" placeholder="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">置信水平</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Srb_ConfidencelevelP" id="Srb_Confidencelevel" placeholder="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        @if (res.Equals("S")) {
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="IntervalEstimationResponseProbability">响应概率区间估计</button>
                                        </div>
                                        }
                                    </div>

                                    <div class="layui-col-md12 layui-col-space5">
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">刺激量</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Srb_StimulusQuantity" id="Srb_StimulusQuantity" placeholder="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        <div class="layui-col-md4">
                                            <label class="layui-form-label">置信水平</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Srb_ConfidencelevelS" id="Srb_ConfidencelevelS" placeholder="0.9" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                            </div>
                                        </div>
                                        @if (res.Equals("S")) {
                                        <div class="layui-col-md4">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="ResponsePointIntervalEstimation">响应点区间估计</button>
                                        </div>
                                        }
                                    </div>
                                </div>

                                <div class="layui-col-md12 layui-col-space5">
                                    <fieldset class="layui-elem-field">
                                        <legend>双侧置信区间</legend>
                                        <div class="layui-field-box">
                                            <div class="layui-row">
                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="Points" id="Points" placeholder="响应点置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="Intervals" id="Intervals" placeholder="均值置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="StandardIntervals" id="StandardIntervals" placeholder="标准差置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                                <div class="layui-col-md12 layui-col-space10">
                                    <fieldset class="layui-elem-field">
                                        <legend>单侧置信区间</legend>
                                        <div class="layui-field-box">
                                            <div class="layui-row">
                                                <div class="layui-col-md12 layui-col-space5">
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">响应点置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="Point" id="Point" placeholder="响应点置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">均值置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="Interval" id="Interval" placeholder="均值置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="layui-col-md4">
                                                        <label class="layui-form-label" style="width:auto">标准差置信区间</label>
                                                        <div class="layui-input-block">
                                                            <input type="text" name="StandardInterval" id="StandardInterval" placeholder="标准差置信区间" autocomplete="off" class="layui-input" style="width:93%" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field">
                        <legend>方差函数法区间计算方法</legend>
                        <div class="layui-field-box">
                            <div class="layui-form layui-row">
                                <div class="layui-col-md12 layui-col-space5">
                                    <div class="layui-col-md12 layui-col-space10">
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">响应概率</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Fchs_ProbabilityResponse" id="Fchs_ProbabilityResponse" placeholder="0.999" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                                <div class=" layui-col-md4">
                                                    <label class="layui-form-label">置信水平</label>
                                                    <div class="layui-input-block">
                                                        <select name="xygl_zxsp" lay-verify="required">
                                                            <option value=""></option>
                                                            <option value="0.8">0.8</option>
                                                            <option value="0.85">0.85</option>
                                                            <option value="0.9">0.8</option>
                                                            <option value="0.95">0.95</option>
                                                            <option value="0.99">0.99</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            <div class="layui-col-md4">
                                                <button type="button" class="layui-btn" style="width:100%;" data-type="Fchs_IntervalEstimationResponseProbability">响应概率区间估计</button>
                                            </div>
                                        </div>

                                        <div class="layui-col-md12 layui-col-space5">
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">刺激量</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="Fchs_StimulusQuantity" id="Fchs_StimulusQuantity" placeholder="0" autocomplete="off" class="layui-input" onkeyup="value=value.replace(/[^\d\.]/g,'')">
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <label class="layui-form-label">置信水平</label>
                                                <div class="layui-input-block">
                                                    <select name="cjl_zxsp" lay-verify="required">
                                                        <option value=""></option>
                                                        <option value="0.8">0.8</option>
                                                        <option value="0.85">0.85</option>
                                                        <option value="0.9">0.8</option>
                                                        <option value="0.95">0.95</option>
                                                        <option value="0.99">0.99</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-col-md4">
                                                <button type="button" class="layui-btn" style="width:100%;" data-type="Fchs_ResponsePointIntervalEstimation">响应点区间估计</button>
                                            </div>
                                        </div>

                                        <div class="layui-col-md12 layui-col-space5">
                                            <div class="layui-col-md3">
                                                <label class="layui-form-label">响应点双侧置信区间</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="PointsIncredibleInterval" id="PointsIncredibleInterval" lay-tips="响应点双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                                </div>
                                            </div>
                                            <div class="layui-col-md3">
                                                <label class="layui-form-label">均值双侧置信区间</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="AvgPointsInterval" id="AvgPointsInterval" lay-tips="均值双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                                </div>
                                            </div>
                                            <div class="layui-col-md3">
                                                <label class="layui-form-label">响应点单侧置信区间</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="PointIncredibleInterval" id="PointIncredibleInterval" lay-tips="响应点单侧置信区间" autocomplete="off" class="layui-input" readonly>
                                                </div>
                                            </div>
                                            <div class="layui-col-md3">
                                                <label class="layui-form-label">标准差双侧置信区间</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="StandarddeviationInterval" id="StandarddeviationInterval" lay-tips="标准差双侧置信区间" autocomplete="off" class="layui-input" readonly>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="layui-elem-field">
                        <legend>置信区间绘图</legend>
                        <div class="layui-field-box">
                            <div class="layui-row">
                                <div class="layui-col-md12 layui-col-space5">
                                    @if (res.Equals("S"))
                                    {
                                        <div class="layui-col-md6">
                                            <button type="button" class="layui-btn" style="width:100%;" data-type="Likelihood">似然比法区间计算绘图</button>
                                        </div>
                                    }
                                    <div class="layui-col-md6">
                                        <button type="button" class="layui-btn" style="width:100%;" data-type="Variancefunction">方差函数法区间计算绘图</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    
    <script src="~/static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table','form'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;
            form.render();
            //事件
            var active = {
                IntervalEstimationResponseProbability: function () {
                    alert("IntervalEstimationResponseProbability");
                },
                ResponsePointIntervalEstimation: function () {

                },
                Fchs_IntervalEstimationResponseProbability: function () {

                },
                Fchs_ResponsePointIntervalEstimation: function () {

                },
                Likelihood: function () {

                },
                Variancefunction: function () {

                },
            }
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>