<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>升价法查询</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Static/layui/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Static/layui/style/admin.css" rel="stylesheet" />
</head>
@{ 
    List<string> productName = (List<string>)ViewData["pn"];
}
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">产品名称</label>
                        <div class="layui-input-block">
                            <select name="modules">
                                <option value="">请选择</option>
                                @foreach (var p in @productName)
                                {
                                    <option value="@p">@p</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">起始日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="startdate" id="startdate" class="layui-input" >
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">终止日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="stopdate" id="stopdate" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="experiment_search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="layui-card-body">
                <table id="updownquery_list" lay-filter="updownquery_list"></table>

                <script type="text/html" id="fzxy_state">
                    {{#  if(d.FilpResponse == "0"){ }}
                    <button class="layui-btn layui-btn-xs">否</button>
                    {{#  } else { }}
                    <button class="layui-btn layui-btn-primary layui-btn-xs">是</button>
                    {{#  } }}
                </script>
                <script type="text/html" id="fz_state">
                    {{#  if(d.Groping == "0"){ }}
                    <button class="layui-btn layui-btn-xs">不分组试验</button>
                    {{#  } else { }}
                    <button class="layui-btn layui-btn-primary layui-btn-xs">多组试验</button>
                    {{#  } }}
                </script>
                <script type="text/html" id="table-langleyquery-tool">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </script>

            </div>
        </div>
    </div>

    <script src="~/Static/layui/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../Static/layui/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['laydate','index', 'updownquery_table', 'table'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#startdate' //指定元素
            });

            laydate.render({
                elem: '#stopdate' //指定元素
            });

            //监听搜索
            form.on('submit(experiment_search)', function (data) {
                var field = data.field;
                //执行重载
                table.reload('updownquery_list', {
                    url: "@Url.Action("Experiment_query","UpDownMethod")"
                    , method: "post"
                    , where: {
                        "cpmc": field.modules,
                        "startdate": field.startdate,
                        "stopdate": field.stopdate
                    }
                    , contentType: 'application/json'
                    , parseData: function (res) { //res 即为原始返回的数据
                        if (this.page.curr) {
                            var result = res.data.slice(this.limit * (this.page.curr - 1), this.limit * this.page.curr);
                        } else {
                            var result = res.data.slice(0, this.limit);
                        }
                        return {
                            "code": res.code,
                            "msg": "",
                            "count": res.data.length,
                            "data": result
                        };
                    }
                    , page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            });

        });
    </script>
</body>
</html>
